.HomeHeading {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #2b2d35;
}
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  margin: 5% auto;
}
.bgImage {
  display: flex;
  position: relative;
  width: 100vw;
  height: 60vh;
}
.WeatherImage {
  height: 100%;
  width: 49%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("./img/weather.jpg");
}
.TextContent {
  width: 51%;
  text-align: center;
  padding: 3%;
}
.GoSearchBtn {
  width: 25%;
  margin-left: 10%;
  border: 2px solid white;
  cursor: pointer;
  padding: 1%;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 20px;
}
.Heading {
  padding-left: 10%;
  padding-right: 10%;
}
.Paragraph {
  padding-left: 2%;
  padding-right: 2%;
}

@media (min-width: 320px) and (max-width: 730px) {
  .bgImage {
    display: block;
    width: 100vw;
  }
  .WeatherImage {
    width: 100%;
  }
  .TextContent {
    width: 100%;
    padding: 0;
  }
  .GoSearchBtn {
    width: 50%;
    margin: 0 auto;
  }
}
