.SearchHeading{
    text-align: center
}
.SearchContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.SearchField {
    position: relative;
    display: block;
    width: 30%;
    padding: 1%;
    border: 2px solid white;
    border-radius: 20px;
    outline: none;
    font-weight: bold;
}
.SearchField:focus {
    border: 2px solid black;
}
.SearchBtn {
    position: relative;
    margin-left: 1%;
    padding: 1%;
    text-decoration: none;
    color: white;
    background-color:#A53C3A;
    border-radius: 20px;
}
.SearchBtn:hover {
    background-color: #F4432F;
}
.HomeBtn {
    position: relative;
    margin-left: 1%;
    padding: 1%;
    text-decoration: none;
    color: white;
    background-color: #2B2D35;
    border: 2px solid white;
    border-radius: 20px;
}
.HomeBtn:hover {
    background-color: white;
    color: black;
}

@media (min-width: 320px) and (max-width: 730px) { 
    .SearchContent {
        display: block;
    }   
    .SearchField {
        width: 50%;
        height: 45px;
        margin: 0 auto;
        text-align: center;
    }
    .SearchBtn {
        display: block;
        width: 50%;
        height: 40px;
        margin: 4% auto;
        padding-top: 4%;
        text-align: center;
    }
    .HomeBtn {
        display: block;
        width: 50%;
        height: 40px;
        padding-top: 4%;
        text-align: center;
        margin: 2% auto;
    }
}